In [1]:
import pandas as pd

In [2]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [3]:
iris = pd.read_csv(csv_url, header = None)

In [4]:
#Iris doesnt have column name so give it
col_names =['Sepal-length','Sepal_width','petal_length','petal_width','Species']

In [5]:
iris = pd.read_csv(csv_url, names = col_names)

In [6]:
df1=df=iris

In [7]:
iris.head(8)

   Sepal-length  Sepal_width  petal_length  petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

In [8]:
iris.tail()

     Sepal-length  Sepal_width  petal_length  petal_width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [9]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [10]:
iris.columns

Index(['Sepal-length', 'Sepal_width', 'petal_length', 'petal_width',
       'Species'],
      dtype='object')

In [11]:
iris.shape

(150, 5)

In [12]:
iris.dtypes

Sepal-length    float64
Sepal_width     float64
petal_length    float64
petal_width     float64
Species          object
dtype: object

In [13]:
iris.describe()

       Sepal-length  Sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
iris.columns.values

array(['Sepal-length', 'Sepal_width', 'petal_length', 'petal_width',
       'Species'], dtype=object)

In [15]:
iris.iloc[5]

Sepal-length            5.4
Sepal_width             3.9
petal_length            1.7
petal_width             0.4
Species         Iris-setosa
Name: 5, dtype: object

In [16]:
iris[47:51]

    Sepal-length  Sepal_width  petal_length  petal_width          Species
47           4.6          3.2           1.4          0.2      Iris-setosa
48           5.3          3.7           1.5          0.2      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
50           7.0          3.2           4.7          1.4  Iris-versicolor

In [17]:
iris.loc[:, ["Sepal-length","Sepal_width"]] #see data column wise

     Sepal-length  Sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [18]:
cols_2_4=iris.columns[2:4]
iris[cols_2_4]

     petal_length  petal_width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [19]:
iris.isnull().any()

Sepal-length    False
Sepal_width     False
petal_length    False
petal_width     False
Species         False
dtype: bool

In [20]:
iris.isnull().sum()

Sepal-length    0
Sepal_width     0
petal_length    0
petal_width     0
Species         0
dtype: int64

In [21]:
iris.dtypes

Sepal-length    float64
Sepal_width     float64
petal_length    float64
petal_width     float64
Species          object
dtype: object

In [22]:
df=iris
df['petal_length(cm)']=iris['petal_length'].astype("int")

In [23]:
df

,Sepal-length,Sepal_width,petal_length,petal_width,Species,petal_length(cm)
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5
146,6.3,2.5,5.0,1.9,Iris-virginica,5
147,6.5,3.0,5.2,2.0,Iris-virginica,5
148,6.2,3.4,5.4,2.3,Iris-virginica,5
149,5.9,3.0,5.1,1.8,Iris-virginica,5

In [24]:
iris

,Sepal-length,Sepal_width,petal_length,petal_width,Species,petal_length(cm)
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5
146,6.3,2.5,5.0,1.9,Iris-virginica,5
147,6.5,3.0,5.2,2.0,Iris-virginica,5
148,6.2,3.4,5.4,2.3,Iris-virginica,5
149,5.9,3.0,5.1,1.8,Iris-virginica,5

In [25]:
df1=df

In [26]:
df1

,Sepal-length,Sepal_width,petal_length,petal_width,Species,petal_length(cm)
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5
146,6.3,2.5,5.0,1.9,Iris-virginica,5
147,6.5,3.0,5.2,2.0,Iris-virginica,5
148,6.2,3.4,5.4,2.3,Iris-virginica,5
149,5.9,3.0,5.1,1.8,Iris-virginica,5